@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    width: 1512px;
    padding: 15px 79px;
    align-items: flex-start;
    gap: 8px;
    background-color: #32325D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

h1 {
    color: #FFF;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

img {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
}

#title {
    display: flex;
    padding: 15px 79px;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3.6px;
    color: #3A4F9A;
    width: 221px;
    height: 46px;
    flex-shrink: 0;
    text-decoration: underline;
    text-underline-offset: 1.2rem;
}
