@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

img {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
}

h1 {
    color: #FFF;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

header {
    display: flex;
    width: 100vw;
    position: fixed;
    padding: 15px 79px;
    align-items: flex-start;
    gap: 8px;
    background: #32325D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

main {
    padding-top: 100px;
}

#posts {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.post-div {
    width: 409px;
    height: 455px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px 20px; 
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.title {
    color:#32325D;
    padding-bottom: 50px;
    padding-left: 20px;
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3.6px;
    text-decoration: underline;
    text-underline-offset: 1.2rem;
}

.post-img {
    width: 409px;
    height: 273px;
    flex-shrink: 0;
}

.post-title {
    color: #3A4F9A;
    padding: 20px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 2px;
}

.post-body{
    color: #575757;
    padding: 0px 20px;
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1.3px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.d-none{
    display: none;
}

.post-link {
    color: #3A4F9A;
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.3px;
}

.details-div {
    width: 771px;
    height: 519px;
    flex-shrink: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.details-img {
    width: 771px;
    height: 519px;
    flex-shrink: 0;
}

.details-title {
    padding: 20px 0px;
    color: #3A4F9A;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 2px;
}

.details-body {
    color: #575757;
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1.3px;
}

.comments-div {
    width: 762px;
    height: 321px;
    margin: 63px;
    padding: 20px;
    padding-bottom: 0px 0px;
    flex-shrink: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.comment-li {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #575757;
}

.comment-email::after {
    content: ": ";
}

.comment-email {
    color: #3A4F9A;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1.6px;
}

.comment-body {
    color: #575757;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1.6px;
}

